:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#content {
  height: 100%
}

body,
#content {
  display: flex;
  flex-direction: column;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.site-logo {
  width: 50px;
  aspect-ratio: 1;
}

.right-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-item-button {
  background-color: inherit;
  font-size: 1.25rem;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}

.nav-item-button:hover {
  color: #3e6892;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.github-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.github-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}

.github-link:hover {
  color: #3e6892;
}

.github-image {
  width: 35px;
  aspect-ratio: 1;
}

.github-username {
  font-size: 1.25rem;
}